<!-- =========================
	     SECTION 9 - FOOTER 
	============================== -->
<footer class="bgcolor-2">
	<div class="container">
		
		<div class="footer-logo">
			<a href="/"><h2>Connect<span class="footer-strong">Me</span>To</h2></a>
		</div>
		
		<div class="copyright">
			 ©2015 ConnectMeTo
		</div>
		
	</div>
</footer>